<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="full-width">
    {% include header.html %}
    <article>
      {{ content }}
    </article>
    {% include print-footer.html %}
    {% include footer.html %}

    <!-- vanilla-back-to-top -->
    <script src="//unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
        diameter: 56,
        backgroundColor: 'rgb(255, 82, 82)',
        textColor: '#fff'
      })</script>
    
  </body>
</html>
